[data-theme="Light"]{
  --colorPrimaryLight: #6e768e;
  --colorSecundaryLight: #f5f5f5;
  --colorPrimaryWhite: white;
  --colorPrimaryBlue: rgb(68, 68, 226);
}

*{
  padding: 0px;
  border: 0px;
  margin: 0px;
}

body{
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
}

#root{
  display: flex;
  width: 100dvw;
  height: 100dvh;
}

:root {
  font-family: Roboto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
